name: Lint & Build

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

concurrency:
    group: ${{ github.head_ref || github.ref_name }}-build-test-scan
    cancel-in-progress: true

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        name: Lint & Build

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version-file: .nvmrc
                  cache: 'yarn'

            - name: Install
              run: |
                  yarn
                  yarn install:all
              env:
                  NODE_OPTIONS: '--max-old-space-size=4096'

            - name: Lint
              run: yarn run lint
              env:
                  NODE_OPTIONS: '--max-old-space-size=4096'

            - name: Build
              run: yarn run build
              env:
                  NODE_OPTIONS: '--max-old-space-size=4096'
