name: Lambda Tests

on:
    pull_request:
        paths: ['lambda/tests/**', '.github/workflows/test-lambda.yml']

jobs:
    test:
        name: Run Tests
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: lambda

        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Setup Node.js
              uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
              with:
                  node-version: '20'
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install

            - name: Run tests
              run: yarn test
